[submodule "SubModules/DirectX-Headers"]
	path = SubModules/DirectX-Headers
	url = https://github.com/microsoft/DirectX-Headers
[submodule "SubModules/D3D12MemoryAllocator"]
	path = SubModules/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "SubModules/imgui"]
	path = SubModules/imgui
	url = https://github.com/ocornut/imgui
[submodule "SubModules/implot"]
	path = SubModules/implot
	url = https://github.com/epezent/implot
[submodule "SubModules/DirectXMath"]
	path = SubModules/DirectXMath
	url = https://github.com/microsoft/DirectXMath
[submodule "SubModules/VulkanMemoryAllocator"]
	path = SubModules/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "SubModules/meshoptimizer"]
	path = SubModules/meshoptimizer
	url = https://github.com/zeux/meshoptimizer/
[submodule "SubModulesmeshoptimizer"]
	branch = v0.23
